*{
    margin: 0;
    padding: 0;
    font-family: "Inter-UI-Regular";
}

.search-input{
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 8px;
    border-radius: 20px;
    margin-right: 10px;
}

.search-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.set-city-button{
    border: none;
    border-radius: 50%;
    width: 34.5px;
    height: 34.5px;
}

.app{
    background: linear-gradient(to bottom right, rgb(65, 189, 146), rgb(36, 96, 156));
    padding: 10px;
    color: white;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 100px auto;
    position: relative;
}

.error{
    display: flex;
    justify-content: center;
    color: rgb(50, 142, 151);
    font-size: 25px;
    width: 94%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: 100px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}